.container {
  display: grid;
  grid-template-columns: auto auto auto;
}
#personalBackground {
  grid-row: 2;
}
#experience {
  grid-row: 5;
}
#programmingLanguages {
  grid-row: 5;
}
#achievements {
  grid-row: 10;
}
#games {
  grid-row: 10;
}